<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,386},{298,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{298,143}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,392},{304,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,143}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,392},{300,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{300,143}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,392},{302,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{302,143}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,537},{304,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,141}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,537},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{300,141}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,531},{300,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{300,141}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,537},{302,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{302,141}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish19_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,2},{298,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{298,141}}</string>
                <key>sourceSize</key>
                <string>{304,143}</string>
            </dict>
            <key>fish20_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{461,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{461,126}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{461,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{461,126}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{459,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{459,132}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,134},{461,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{461,128}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,264},{461,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{461,126}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{457,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{457,130}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish20_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,130},{461,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{461,126}}</string>
                <key>sourceSize</key>
                <string>{461,132}</string>
            </dict>
            <key>fish21_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,145},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>fish21_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,145},{173,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>fish21_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,495},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>fish21_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,315},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>fish21_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,320},{173,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>fish22_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{132,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,258},{130,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{132,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,122},{130,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,540},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,254},{130,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,122},{130,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,540},{130,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,2},{126,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,540},{132,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,122},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,258},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,258},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish22_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,254},{130,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,116}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>fish_19_22_swim_lock_others.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,329},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>fish_19_22_swim_lock_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,252},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fish_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{259,274}}</string>
                <key>sourceSize</key>
                <string>{263,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_19_22_swim.png</string>
            <key>size</key>
            <string>{2016,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7271a78d0f01273d5eca2c8bdb5b52:2ec5151132c9f86691cdc69f7a9c53b9:75b2158e9b1687901b87c770e4202ba0$</string>
            <key>textureFileName</key>
            <string>fish_19_22_swim.png</string>
        </dict>
    </dict>
</plist>
