<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>fish01_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,77},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>fish02_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1226},{49,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>fish02_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1771},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>fish02_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1991},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>fish03_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1480},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>fish03_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1568},{76,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>fish03_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1964},{62,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>fish04_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1371},{90,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>fish04_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1269},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>fish04_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,216},{94,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,53}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>fish05_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,486},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{154,88}</string>
            </dict>
            <key>fish05_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1615},{154,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{154,72}}</string>
                <key>sourceSize</key>
                <string>{154,88}</string>
            </dict>
            <key>fish05_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1811},{154,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,88}</string>
            </dict>
            <key>fish05_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,846},{152,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{152,60}}</string>
                <key>sourceSize</key>
                <string>{154,88}</string>
            </dict>
            <key>fish06_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1356},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>fish06_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1256},{116,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,47}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>fish06_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1120},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>fish07_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1767},{123,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,53}</string>
            </dict>
            <key>fish07_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1991},{111,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{123,53}</string>
            </dict>
            <key>fish07_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1991},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{123,53}</string>
            </dict>
            <key>fish08_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1463},{103,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,76}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>fish08_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1892},{101,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{101,70}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>fish08_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1964},{85,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{85,60}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>fish09_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1767},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{120,68}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>fish09_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1967},{130,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,70}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>fish09_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1641},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>fish09_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1641},{124,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{124,66}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>fish10_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,390},{279,102}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,102}}</string>
                <key>sourceSize</key>
                <string>{279,114}</string>
            </dict>
            <key>fish10_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,877},{251,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{251,100}}</string>
                <key>sourceSize</key>
                <string>{279,114}</string>
            </dict>
            <key>fish10_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{279,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{279,80}}</string>
                <key>sourceSize</key>
                <string>{279,114}</string>
            </dict>
            <key>fish10_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1048},{277,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{277,100}}</string>
                <key>sourceSize</key>
                <string>{279,114}</string>
            </dict>
            <key>fish11_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1750},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{103,105}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1857},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{101,97}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1620},{91,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{91,101}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1641},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1857},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{99,89}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1801},{133,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,107}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish11_0_d_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,271},{117,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{117,93}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>fish12_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1541},{197,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{197,77}}</string>
                <key>sourceSize</key>
                <string>{219,83}</string>
            </dict>
            <key>fish12_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1374},{205,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{205,79}}</string>
                <key>sourceSize</key>
                <string>{219,83}</string>
            </dict>
            <key>fish12_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{219,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,83}}</string>
                <key>sourceSize</key>
                <string>{219,83}</string>
            </dict>
            <key>fish12_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{219,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,83}}</string>
                <key>sourceSize</key>
                <string>{219,83}</string>
            </dict>
            <key>fish13_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1500},{139,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>fish13_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,484},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>fish13_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1190},{153,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>fish13_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1345},{153,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>fish14_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{181,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{181,200}}</string>
                <key>sourceSize</key>
                <string>{187,200}</string>
            </dict>
            <key>fish14_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1811},{171,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{171,178}}</string>
                <key>sourceSize</key>
                <string>{187,200}</string>
            </dict>
            <key>fish14_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1356},{183,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{183,200}}</string>
                <key>sourceSize</key>
                <string>{187,200}</string>
            </dict>
            <key>fish14_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{187,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,200}}</string>
                <key>sourceSize</key>
                <string>{187,200}</string>
            </dict>
            <key>fish15_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,484},{280,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,309}}</string>
                <key>sourceSize</key>
                <string>{280,309}</string>
            </dict>
            <key>fish15_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{280,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{280,307}}</string>
                <key>sourceSize</key>
                <string>{280,309}</string>
            </dict>
            <key>fish16_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1326},{188,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{188,248}}</string>
                <key>sourceSize</key>
                <string>{204,248}</string>
            </dict>
            <key>fish16_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,671},{204,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,248}}</string>
                <key>sourceSize</key>
                <string>{204,248}</string>
            </dict>
            <key>fish16_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1120},{204,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,248}}</string>
                <key>sourceSize</key>
                <string>{204,248}</string>
            </dict>
            <key>fish16_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1150},{204,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,248}}</string>
                <key>sourceSize</key>
                <string>{204,248}</string>
            </dict>
            <key>fish17_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,212}}</string>
                <key>sourceSize</key>
                <string>{502,212}</string>
            </dict>
            <key>fish17_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{488,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{488,212}}</string>
                <key>sourceSize</key>
                <string>{502,212}</string>
            </dict>
            <key>fish18_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,576},{268,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{268,143}}</string>
                <key>sourceSize</key>
                <string>{288,143}</string>
            </dict>
            <key>fish18_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{286,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{286,137}}</string>
                <key>sourceSize</key>
                <string>{288,143}</string>
            </dict>
            <key>fish18_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,143}</string>
            </dict>
            <key>fish18_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,979},{274,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{274,139}}</string>
                <key>sourceSize</key>
                <string>{288,143}</string>
            </dict>
            <key>fish19_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,908},{280,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{280,139}}</string>
                <key>sourceSize</key>
                <string>{298,139}</string>
            </dict>
            <key>fish19_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,766},{294,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,139}}</string>
                <key>sourceSize</key>
                <string>{298,139}</string>
            </dict>
            <key>fish19_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{298,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,139}}</string>
                <key>sourceSize</key>
                <string>{298,139}</string>
            </dict>
            <key>fish19_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,907},{290,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{290,139}}</string>
                <key>sourceSize</key>
                <string>{298,139}</string>
            </dict>
            <key>fish20_0_d_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,351},{456,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{456,131}}</string>
                <key>sourceSize</key>
                <string>{460,133}</string>
            </dict>
            <key>fish20_0_d_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{460,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,133}}</string>
                <key>sourceSize</key>
                <string>{460,133}</string>
            </dict>
            <key>fish20_0_d_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,216},{460,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,133}}</string>
                <key>sourceSize</key>
                <string>{460,133}</string>
            </dict>
            <key>fish20_0_d_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{458,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{458,133}}</string>
                <key>sourceSize</key>
                <string>{460,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_01_20_dead.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee522ed7add9f7c90eb6e87ab61550c9:4edf27e5aed312395418302979fec0ea:fb647980c6653fa15bcdef2e908993ff$</string>
            <key>textureFileName</key>
            <string>fish_01_20_dead.png</string>
        </dict>
    </dict>
</plist>
