<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coral_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{157,181}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{157,181}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>coral_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{155,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{155,179}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>coral_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{161,181}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>coral_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,185},{165,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{165,177}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>coral_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,368},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>coral_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{161,173}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>kelp_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,282},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,503},{97,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,503},{97,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,503},{97,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,278},{97,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,140},{97,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,142},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,420},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,280},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,140},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,2},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,418},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,278},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,140},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{97,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,156},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,464},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,464},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,310},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,452},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,310},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,452},{97,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,296},{97,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,142},{97,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{97,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,436},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_0_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,416},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>kelp_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,336},{165,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,336},{165,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{165,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,547},{165,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{165,91}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{165,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{167,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,171},{167,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,340},{167,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,169},{165,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,95}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,169},{165,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,169},{163,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,336},{165,93}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{165,93}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,93}}</string>
                <key>sourceSize</key>
                <string>{169,95}</string>
            </dict>
            <key>kelp_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,156},{142,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,156},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{142,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,488},{144,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,464},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,334},{148,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,156},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,310},{148,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{146,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,156},{144,152}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{144,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>kelp_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,310},{144,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>starfish_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,276},{87,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,276},{87,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{87,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{89,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,509},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,2},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,102},{85,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,541},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,549},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,541},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,189},{85,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{85,98}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,454},{85,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,365},{87,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>starfish_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,374},{87,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,96}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant.png</string>
            <key>size</key>
            <string>{2036,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102ff169667e4bf439aed2c023d076ef:5440219287378880dd48bdae0e7e2cbe:91906e0a1a55e521ac991aff97f61949$</string>
            <key>textureFileName</key>
            <string>plant.png</string>
        </dict>
    </dict>
</plist>
